USE [master]
GO
/****** Object:  Database [AirLine]    Script Date: 6.01.2023 15:23:56 ******/
CREATE DATABASE [AirLine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AirLine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AirLine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AirLine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AirLine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AirLine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AirLine]
GO
USE [AirLine]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 6.01.2023 15:23:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassengerInfo1]    Script Date: 6.01.2023 15:23:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassengerInfo1](
	[PassengerNumber] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
	[PassportNumber] [varchar](50) NULL,
	[PED] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Nationality] [varchar](50) NULL,
	[PrimaryContact] [varchar](50) NULL,
	[CountryCode] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[CityFrom] [varchar](50) NULL,
	[CityTo] [varchar](50) NULL,
	[DepartDate] [varchar](50) NULL,
	[ReturnDate] [varchar](50) NULL,
	[TicketType] [varchar](50) NULL,
	[Class] [varchar](50) NULL,
 CONSTRAINT [PK_PassengerInfo1] PRIMARY KEY CLUSTERED 
(
	[PassengerNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Login] ([Username], [Password]) VALUES (N'a', N'a')
INSERT [dbo].[Login] ([Username], [Password]) VALUES (N'Admin', N'admin123')
INSERT [dbo].[Login] ([Username], [Password]) VALUES (N'Adminbackup', N'adminbackup')
USE [master]
GO
